<div class="black">
  <h1>
    {{name}}
  </h1>
  <p>
    {{email}}
  </p>
  <a href="{{website}}" target="_blank">
    Sitio Web
  </a>
<!--ocultar y agregar-->  
  <button class="btn" (click)="toggleHobbies()">
    {{showHobbies ? 'Hide Hobbies' : 'Show Hobbies'}}
  </button>
<!--ocultar y agregar-->
  <div *ngIf="showHobbies" class="component2">
    <h3>Hobbies:</h3>
    <ul>
      <li *ngFor="let hobby of hobbies">
        {{hobby}}
      </li>
    </ul>
    <form (submit)="newHobby(hobby)">
      <input
        #hobby 
        type="text" 
        name="hobby" 
        placeholder="hobby">
    </form>
  </div>
</div>
<!--modificar-->
<div class="black">
  <h3>Modify the Content:</h3>
  <label for="name">Name: </label>
  <input type="text" 
    name="name" 
    placeholder="new name"
    [(ngModel)] = "name"
    > 
  <label for="name">Email: </label>
  <input type="email" 
    name="email" 
    placeholder="new email"
    [(ngModel)] = "email"
    >
</div>